










/*#info {*/
/*     font-family: 'Montserrat', sans-serif;*/
/*     color:rgb(59, 61, 51);*/
/*     font-size:2rem;*/
/*}*/

#1gall-foto {
     font-family: 'Roboto Slab', serif;
     color:rgb(11, 183, 169);
     font-size:2rem;
 }
#1gall-foto:hover {
    color:rgb(108, 221, 22);
}
