@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

:root {
    font-size:15px;
}

body {
    max-width: 980px;
    background-color: rgb(161, 164, 168);
    margin: auto;
}

#global-info {
     font-family: 'Oswald', sans-serif;
     font-size:2rem;
     color:rgb(4, 11, 109);
     margin-bottom: 0;
}

#global-info,#foto-text,#vidg,#shoptil,#contacts {
     background-color: rgb(131, 135, 142);
}

.text {
    font-size: 1em;
    text-align: center;
}

#ginfo{
    text-align: center;
    font-size: 3rem;
}

@media (max-width: 650px) {
    .hood,#name {
       display: inline;
       font-size: 4rem;
    }
}

@media (min-width: 650px) {
    .hood,#name {
       display: inline;
       font-size: 10rem;
    }
}

@media (max-width: 440px) {
    #contacts {
       font-size: 1.1rem;
    }
}

@media (max-width: 900px) {
    body,.navbar-brand {
       display: inline;
       font-size: 1rem;
    }
}

 body,#foto-text,#global-info,#vidg,#shopp,#contacts,.gallery-video {
     margin-bottom: 0;
 }
 body,#global-info,.text {
     margin-bottom: 0; 
 }