@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

:root {
    font-size:15px;
}

body {
    max-width: 980px;
    background:rgb(193, 201, 106);
    margin: auto;
}

#global-info {
     font-family: 'Oswald', sans-serif;
     font-size:2rem;
     color:rgb(4, 11, 109);
}

#text {
    font-size: 1em;
    text-align: center;
    margin: 20px;
}

#ginfo{
    text-align: center;
    font-size: 6rem;
}


